<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>launch_animation_beetle</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>12</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/1577-beetle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_red_ant</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>8</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/1578-red-ant</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_anubis</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>8</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/1625-anubis</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_spider_golden_web_weaver</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<integer>1</integer>
		<key>backgroundColor</key>
		<string>185,90,208</string>
		<key>duration</key>
		<integer>6</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/1583-spider-golden-web-weaver</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_frog</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1.3333</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>6</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/1891-frog</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_small_car</string>
		<key>width</key>
		<integer>260</integer>
		<key>ratio_w_h</key>
		<integer>1</integer>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>8</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/3657-small-car</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_pink_drink_machine</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1.3333</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>8</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/351-pink-drink-machine</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_biking_is_cool</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1.0649</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>8</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/1446-bikingiscool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_peli_canon</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<integer>1</integer>
		<key>backgroundColor</key>
		<string>148,220,198</string>
		<key>duration</key>
		<integer>8</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/2436-peli-canon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>launch_animation_tractor</string>
		<key>width</key>
		<integer>0</integer>
		<key>ratio_w_h</key>
		<real>1.5</real>
		<key>backgroundColor</key>
		<string>255,255,255</string>
		<key>duration</key>
		<integer>5</integer>
		<key>url</key>
		<string>https://www.lottiefiles.com/2867-tractor-animation</string>
	</dict>
</array>
</plist>
