<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>VI</string>
		<key>name_en</key>
		<string>Vigin Islands(U.S.)</string>
		<key>name_zh</key>
		<string>不列颠岛(美)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MX</string>
		<key>name_en</key>
		<string>Mexico</string>
		<key>name_zh</key>
		<string>墨西哥</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MY</string>
		<key>name_en</key>
		<string>Malaysia</string>
		<key>name_zh</key>
		<string>马来西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PT</string>
		<key>name_en</key>
		<string>Portugal</string>
		<key>name_zh</key>
		<string>葡萄牙</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BR</string>
		<key>name_en</key>
		<string>Brazil</string>
		<key>name_zh</key>
		<string>巴西</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BS</string>
		<key>name_en</key>
		<string>Bahamas</string>
		<key>name_zh</key>
		<string>巴哈马</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HK</string>
		<key>name_en</key>
		<string>Hongkong(China)</string>
		<key>name_zh</key>
		<string>香港特别行政区(中国)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VN</string>
		<key>name_en</key>
		<string>Vietnam</string>
		<key>name_zh</key>
		<string>越南</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ES</string>
		<key>name_en</key>
		<string>Spain</string>
		<key>name_zh</key>
		<string>西班牙</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BY</string>
		<key>name_en</key>
		<string>Belarus</string>
		<key>name_zh</key>
		<string>白俄罗斯</string>
	</dict>
	<dict>
		<key>code</key>
		<string>QA</string>
		<key>name_en</key>
		<string>Qatar</string>
		<key>name_zh</key>
		<string>卡塔尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HR</string>
		<key>name_en</key>
		<string>Croatia</string>
		<key>name_zh</key>
		<string>克罗地亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CA</string>
		<key>name_en</key>
		<string>Canada</string>
		<key>name_zh</key>
		<string>加拿大</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KM</string>
		<key>name_en</key>
		<string>Comoros</string>
		<key>name_zh</key>
		<string>科摩罗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VU</string>
		<key>name_en</key>
		<string>Vanuatu</string>
		<key>name_zh</key>
		<string>瓦努阿图</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HU</string>
		<key>name_en</key>
		<string>Hungary</string>
		<key>name_zh</key>
		<string>匈牙利</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KP</string>
		<key>name_en</key>
		<string>North Korea</string>
		<key>name_zh</key>
		<string>朝鲜</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NL</string>
		<key>name_en</key>
		<string>Netherlands</string>
		<key>name_zh</key>
		<string>荷兰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KR</string>
		<key>name_en</key>
		<string>Korea</string>
		<key>name_zh</key>
		<string>韩国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>YU</string>
		<key>name_en</key>
		<string>Yugoslavia</string>
		<key>name_zh</key>
		<string>南斯拉夫</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NO</string>
		<key>name_en</key>
		<string>Norway</string>
		<key>name_zh</key>
		<string>挪威</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CH</string>
		<key>name_en</key>
		<string>Switzerland</string>
		<key>name_zh</key>
		<string>瑞士</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KW</string>
		<key>name_en</key>
		<string>Kuwait</string>
		<key>name_zh</key>
		<string>科威特</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TH</string>
		<key>name_en</key>
		<string>Thailand</string>
		<key>name_zh</key>
		<string>泰国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CL</string>
		<key>name_en</key>
		<string>Chile</string>
		<key>name_zh</key>
		<string>智利</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KY</string>
		<key>name_en</key>
		<string>Cayman Islands</string>
		<key>name_zh</key>
		<string>开曼群岛</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TJ</string>
		<key>name_en</key>
		<string>Tajikstan</string>
		<key>name_zh</key>
		<string>塔吉克斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZA</string>
		<key>name_en</key>
		<string>South Africa</string>
		<key>name_zh</key>
		<string>南非</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FI</string>
		<key>name_en</key>
		<string>Finland</string>
		<key>name_zh</key>
		<string>芬兰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ID</string>
		<key>name_en</key>
		<string>Indonesia</string>
		<key>name_zh</key>
		<string>印度尼西亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CN</string>
		<key>name_en</key>
		<string>China</string>
		<key>name_zh</key>
		<string>中国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IE</string>
		<key>name_en</key>
		<string>Ireland</string>
		<key>name_zh</key>
		<string>爱尔兰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KZ</string>
		<key>name_en</key>
		<string>Kazakstan</string>
		<key>name_zh</key>
		<string>哈萨克斯坦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CO</string>
		<key>name_en</key>
		<string>Colombia</string>
		<key>name_zh</key>
		<string>哥伦比亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LB</string>
		<key>name_en</key>
		<string>Lebanon</string>
		<key>name_zh</key>
		<string>黎巴嫩</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NZ</string>
		<key>name_en</key>
		<string>New Zealand</string>
		<key>name_zh</key>
		<string>新西兰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TR</string>
		<key>name_en</key>
		<string>Turkey</string>
		<key>name_zh</key>
		<string>土耳其</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IL</string>
		<key>name_en</key>
		<string>Israel</string>
		<key>name_zh</key>
		<string>以色列</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FR</string>
		<key>name_en</key>
		<string>France</string>
		<key>name_zh</key>
		<string>法国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IN</string>
		<key>name_en</key>
		<string>India</string>
		<key>name_zh</key>
		<string>印度</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LI</string>
		<key>name_en</key>
		<string>Liechtenstein</string>
		<key>name_zh</key>
		<string>列支敦士登</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CY</string>
		<key>name_en</key>
		<string>Cyprus</string>
		<key>name_zh</key>
		<string>塞浦路斯</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TW</string>
		<key>name_en</key>
		<string>Taiwan(China)</string>
		<key>name_zh</key>
		<string>台湾省(中国)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CZ</string>
		<key>name_en</key>
		<string>Czech Republic</string>
		<key>name_zh</key>
		<string>捷克</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AE</string>
		<key>name_en</key>
		<string>United Arab Emirates</string>
		<key>name_zh</key>
		<string>阿拉伯联合酋长国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IR</string>
		<key>name_en</key>
		<string>Iran</string>
		<key>name_zh</key>
		<string>伊朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IS</string>
		<key>name_en</key>
		<string>Iceland</string>
		<key>name_zh</key>
		<string>冰岛</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IT</string>
		<key>name_en</key>
		<string>Italy</string>
		<key>name_zh</key>
		<string>意大利</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UA</string>
		<key>name_en</key>
		<string>Ukraine</string>
		<key>name_zh</key>
		<string>乌克兰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DE</string>
		<key>name_en</key>
		<string>Germany</string>
		<key>name_zh</key>
		<string>德国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GB</string>
		<key>name_en</key>
		<string>United Kiongdom</string>
		<key>name_zh</key>
		<string>英国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LT</string>
		<key>name_en</key>
		<string>Lithuania</string>
		<key>name_zh</key>
		<string>立陶宛</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LU</string>
		<key>name_en</key>
		<string>Luxembourg</string>
		<key>name_zh</key>
		<string>卢森堡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LV</string>
		<key>name_en</key>
		<string>Latvia</string>
		<key>name_zh</key>
		<string>拉脱维亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GE</string>
		<key>name_en</key>
		<string>Georgia</string>
		<key>name_zh</key>
		<string>格鲁吉亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DK</string>
		<key>name_en</key>
		<string>Denmark</string>
		<key>name_zh</key>
		<string>丹麦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RO</string>
		<key>name_en</key>
		<string>Romania</string>
		<key>name_zh</key>
		<string>罗马尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AR</string>
		<key>name_en</key>
		<string>Argentina</string>
		<key>name_zh</key>
		<string>阿根廷</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AT</string>
		<key>name_en</key>
		<string>Austria</string>
		<key>name_zh</key>
		<string>奥地利</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AU</string>
		<key>name_en</key>
		<string>Australia</string>
		<key>name_zh</key>
		<string>澳大利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MA</string>
		<key>name_en</key>
		<string>Morocco</string>
		<key>name_zh</key>
		<string>摩洛哥</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RS</string>
		<key>name_en</key>
		<string>Serbia</string>
		<key>name_zh</key>
		<string>塞尔维亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MC</string>
		<key>name_en</key>
		<string>Monaco</string>
		<key>name_zh</key>
		<string>摩纳哥</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RU</string>
		<key>name_en</key>
		<string>Russia</string>
		<key>name_zh</key>
		<string>俄罗斯</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MD</string>
		<key>name_en</key>
		<string>Moldova</string>
		<key>name_zh</key>
		<string>摩尔多瓦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>US</string>
		<key>name_en</key>
		<string>United States of America</string>
		<key>name_zh</key>
		<string>美国</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GR</string>
		<key>name_en</key>
		<string>Greece</string>
		<key>name_zh</key>
		<string>希腊</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JO</string>
		<key>name_en</key>
		<string>Jordan</string>
		<key>name_zh</key>
		<string>约旦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PE</string>
		<key>name_en</key>
		<string>Peru</string>
		<key>name_zh</key>
		<string>秘鲁</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DZ</string>
		<key>name_en</key>
		<string>Algeria</string>
		<key>name_zh</key>
		<string>阿尔及利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JP</string>
		<key>name_en</key>
		<string>Japan</string>
		<key>name_zh</key>
		<string>日本</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BE</string>
		<key>name_en</key>
		<string>Belgium</string>
		<key>name_zh</key>
		<string>比利时</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MM</string>
		<key>name_en</key>
		<string>Burma</string>
		<key>name_zh</key>
		<string>缅甸</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PH</string>
		<key>name_en</key>
		<string>Philippines</string>
		<key>name_zh</key>
		<string>菲律宾</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BG</string>
		<key>name_en</key>
		<string>Bulgaria</string>
		<key>name_zh</key>
		<string>保加利亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SE</string>
		<key>name_en</key>
		<string>Sweden</string>
		<key>name_zh</key>
		<string>瑞典</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PL</string>
		<key>name_en</key>
		<string>Poland</string>
		<key>name_zh</key>
		<string>波兰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EE</string>
		<key>name_en</key>
		<string>Estonia</string>
		<key>name_zh</key>
		<string>爱沙尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SG</string>
		<key>name_en</key>
		<string>Singapore</string>
		<key>name_zh</key>
		<string>新加坡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SI</string>
		<key>name_en</key>
		<string>Slovenia</string>
		<key>name_zh</key>
		<string>斯洛文尼亚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EG</string>
		<key>name_en</key>
		<string>Egypt</string>
		<key>name_zh</key>
		<string>埃及</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MT</string>
		<key>name_en</key>
		<string>Malta</string>
		<key>name_zh</key>
		<string>马耳他</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VE</string>
		<key>name_en</key>
		<string>Venezuela</string>
		<key>name_zh</key>
		<string>委内瑞拉</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SK</string>
		<key>name_en</key>
		<string>Slovakia</string>
		<key>name_zh</key>
		<string>斯洛伐克</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BN</string>
		<key>name_en</key>
		<string>Brunei</string>
		<key>name_zh</key>
		<string>文莱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MU</string>
		<key>name_en</key>
		<string>Mauritius</string>
		<key>name_zh</key>
		<string>毛里求斯</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VG</string>
		<key>name_en</key>
		<string>Virgin Islands(British)</string>
		<key>name_zh</key>
		<string>不列颠岛(英)</string>
	</dict>
</array>
</plist>
